.barGraphHeader{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.barGraphLegend1{
	font-family: Poppins;
	font-size: 1rem;
	font-weight: 700;
}

.barGraphLegend2{
	font-family: Poppins;
	font-size: 0.7rem;
	font-weight: 500;
	margin-bottom: 0;
}

.xAxis{
	font-family: Poppins;
	display: flex;
	justify-content:space-between;
	align-items: center;
}

.xAxis{
	font-size: 0.8rem;
	position:relative;
	top:10px
	
}
.xAxis p{
	position: relative;
}
.xAxis p::before{
	display: block;
	content: '';
	height: 10px;
	width:10px;
	background-color: #c8d8fe;
	border-radius: 50%;
	top: -15px;
	left:7px;
	position:absolute;
}

.xAxis p.active::before {
	background-color:  #0f4cff;
}