.numberBadge{
	height:22px;
	width:22px;
	border-radius: 50%;
	background-color: #e7ebf0;
	position:relative;
	display:inline-block;
	margin-left: 5px;
}

.numberBadge > span{
	position:absolute;
	left:6px;
}

.numberBadge.active{
	background-color: #fc5655;
}